#world {
  background-image: url('../img/grass.jpg');
  background-size: cover;
  width: 600px;
  margin: auto;
  height: 600px;
  border: 1px;
  border-radius: 12.5px;
  position: relative;
  z-index: -2;
}

.deer {
  background-image: url('../img/deer.gif');
  background-size: cover;
  width: 63px;
  height: 57px;
  position: absolute;
  z-index: 0;
}

.tree {
  background-image: url('../img/tree.gif');
  background-size: cover;
  width: 58px;
  height: 60px;
  position: absolute;
  z-index: -1;
}
