body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.stacking-box {
  position: relative;
}
.stack {
  width: 100%;
  position: absolute;
}
#info p {
  font-family: 'Courier Prime', monospace;
  font-weight: 'bolder';
  font-size: 22;
  text-align: center;
}