body {
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.container {
	min-width: 310px;
	width: 100%;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
}

p.code {
    text-indent:50px;
}
header {
	height: 350px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 1.5em;
	background-color: black;
    margin-top: -40px;
}

nav ul {
    list-style-type:none;
}

nav li {
    float: left;
    width: 33.33%; /*for three menu items*/
    text-align: center;
    min-width: 90px;
}

nav a:link,nav a:visited {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.125em;
    font-family: 'Lato', sans-serif;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

nav a:hover, nav a:active {
    color: #1ca2f7;
}

.container {
    width: 90%;
    max-width: 1000px;
    min-width: 310px;
    margin: auto;
}


article {
	padding-top: 30px;
	max-width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
