body {
    font-size: 100%; 
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 1em;
}
footer {
    bottom: 5px;
    position: absolute;
    text-align: right;
}
footer p {
    font-size: .85em;
}
footer ul {
    list-style-type: none;
}
footer ul li{
    float: right;
    padding-left: 8px;
    padding-right: 8px;
}
footer ul a {
    display: block;
    text-decoration: none;
    color: #4B0082;
}

footer ul a:hover {
    color: black;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

article {
    padding-top: 5px;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article img {
    height: 200px;
    width: 200px;
}

article h1 {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

article h1 a {
    text-decoration: none;
    color: #4B0082;
}

article h1 a:hover {
    color: black;
}

/*from http://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu*/
#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url(../images/menu-icon.png);
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%; /*for four menu items*/
    text-align: center;
    min-width: 90px;
}

nav a:link,nav a:visited {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1.125em;
    font-family: 'Lato', sans-serif;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

nav a:hover, nav a:active {
    color:  #4B0082;
}

.img-box img {
    width: 400px;
}

.grid_1 {width: 10%;}
.grid_2 {width: 20%;}
.grid_3 {width: 30%;}
.grid_4 {width: 40%;}
.grid_5 {width: 50%;}
.grid_6 {width: 60%;}
.grid_7 {width: 70%;}
.grid_8 {width: 80%;}
.grid_9 {width: 90%;}
.grid_10 {width: 100%;}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
    margin: 0%;
    padding: 0%;
    float: left;
    display: block;
}

.projs {
    padding-bottom: 30px;
}

/*Medium screens*/
@media screen and (max-height: 500px) {
    footer ul {
        display: none;
    }
}
@media screen and (min-width: 720px) {
    .projs {
        min-width: 700px;
    }
}
@media screen and (max-width: 720px) {
    .grid_4 {
        width: 80%;
    }
    .grid_6 {
        width: 20%;
        margin-top: 30px;
    }
    .thumbnail {
        width: 100%;
    }
    .description  {
        width: 100%;
    }

    #menu-icon {
        display:inline-block;
    }

    nav ul, nav:active ul { 

        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 3px solid black;
        right: 20px;
        top: 40px;
        width: 30%;
        border-radius: 5px;
    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }

    .text-box p {
        display: none;
    }
    footer ul{
        display: none;
    }

}

/*Small screens*/
@media screen and (max-width: 400px) {
    header h1 {
        font-size: 1.75em;
    }
    .grid_6 {
        margin-top: 15px;
    }
}


