body {
    background-color: #050505;
    font-family: "Comic Sans MS", "Dosis", sans-serif;
    font-weight: bold;
}

.content {
    padding-top: 2.5%;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.image {
    width: 40%;
    margin: 0 auto;
    padding: 1.25%;
}
